@import '~bootstrap/scss/bootstrap';


.container-index {
    background-color: #E8F3FE;

    .button-create {
        background-color: #2382F7;
        color: white;
    }

    .card-index {
        height: 22rem;

        .img-card-index {
            height: 15rem;
        }

        a {
            color: #196BDE;
            text-decoration: none;
            font-weight: 600;
        }

        p {
            font-style: oblique;
        }
    }
}

.pagamento{
    background-image: url(../../public/blob-haikei.svg);
    background-repeat: no-repeat; 
    background-size: cover;
    height: 90vh;
}
nav{
    height: 10vh;
}