@import '~bootstrap/scss/bootstrap';


.container-index {
    background-color: #E8F3FE;

    .button-create {
        background-color: #2382F7;
        color: white;
    }

    .card-index {
        height: 22rem;

        .img-card-index {
            height: 15rem;
        }

        a {
            color: #196BDE;
            text-decoration: none;
            font-weight: 600;
        }

        p {
            font-style: oblique;
        }
    }
}

//stile per il footer
.footer-content {
    background-image: linear-gradient(to bottom, #e8f3fe, #f0f5ff, #f6f8ff, #fbfbff, #ffffff);
    color: rgba($color: #000000, $alpha: 0.9);
    padding-top: 1.5rem;
    position: sticky;
    bottom: 0;


    .contact-info {

        p {
            margin-bottom: 0.5rem;
        }
    }

    .site-links {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                margin-bottom: 0.2rem;

                a {
                    text-decoration: none;
                    color: rgba($color: #000000, $alpha: 0.8);

                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .footer-signs {
        p {
            font-size: 0.8rem;
        }
    }
}

.titolo-pagamento{
    font-size: 60px
}


@media screen and (max-width: 576px) {
    .footer-content {
        .contact-info {
            justify-content: start !important;
            margin: 0.3rem 0 1.2rem 0;
        }

        .social-links {
            justify-content: start !important;
            margin: 1.2rem 0;
        }

        .site-links {
            justify-content: start !important;
            margin: 1.2rem 0;
        }
    }
    .titolo-pagamento{
        font-size: 3rem;
        text-align: center;
    }
}

//pagina pagamento
.pagamento {
    background-image: url(../../public/blob-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}


nav {
    height: 10vh;
}